{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.service.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row"><div class="col-lg-6">
            {{ with .Site.Data.service.title }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h2>{{ end }}
            {{ with .Site.Data.service.subtitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">{{ . }}</p>{{ end }}
        </div>
    </div>
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="block">
                    <div class="row service-parts">
                        {{ range .Site.Data.service.serviceItem }}
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                {{ with .icon }}<i class="{{ . }}"></i>{{ end }}
                                {{ with .title }}<h4>{{ . }}</h4>{{ end }}
                                {{ with .description | safeHTML }}<p>{{ . }}</p>{{ end }}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ with .Site.Data.service.image }}
            {{ $img := "" }}
            {{ $defaultimg := . }}
            {{ $path := printf "static/%s" $defaultimg | printf "%s" }}
            {{ if (fileExists $path) }}
            {{ $img := resources.Get $defaultimg }}
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="block">
                    <img {{ with $img }} {{ $img := .Resize "600x Linear q30" }} src="{{ $img.Permalink }}"{{ end }} class="img-fluid" alt="Foto av Nathan Cowley">
                    <p class="figure-caption">Träningen sker där ni önskar, utomhus eller inomhus. <a href="https://www.pexels.com/sv-se/@mastercowley" class="figure-caption">Foto av Nathan Cowley</a></p>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }}



{{ partial "cta.html" . }}

{{ partial "footer.html" . }}