{{ partial "header.html" . }}
{{ partial "page-title.html" . }}

<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ with .Params.image }}
                <div class="post-img">
                    <img class="img-fluid" alt="" src="{{ . | absURL }}">
                </div>
                {{ end }}
                <div class="post-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}