{{ partial "header.html" . }}

<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{ .Title }}</h2>
                    <div class="portfolio-meta">
                        <span>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>|
                        <span> Tags:
                            {{ if ne .Params.tags nil }}{{ delimit .Params.tags ", " }}{{ end }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ $title := .Title }}
                {{ $img := "" }}
                {{ with .Params.image }}
                {{ $defaultimg := . }}
                {{ $path := printf "static/%s" $defaultimg | printf "%s" }}
                {{ if (fileExists $path) }}
                {{ $img := resources.Get $defaultimg }}
                <div class="post-img">
                    <img {{ with $img }} {{ $img := .Resize "1332x Linear q30" }} src="{{ $img.Permalink }}"{{ end }} alt="{{ $title }}" class="img-fluid">
                </div> 
                {{ end }}
                {{ end }}
                <div class="post-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
{{ template "_internal/disqus.html" . }}
   </div>
        </div>
    </div>
</section>
{{ partial "cta.html" . }}

{{ partial "footer.html" . }}
