{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ with .Site.Params.about.title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .Site.Params.about.content }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        
                    {{ $img := "" }}
                    {{ with .Site.Params.about.image }}
                    {{ $defaultimg := . }}
                    {{ $path := printf "static/%s" $defaultimg | printf "%s" }}
                    {{ if (fileExists $path) }}
                    {{ $img := resources.Get $defaultimg }}
                    <img {{ with $img }} {{ $img := .Resize "600x Linear q30" }} src="{{ $img.Permalink }}"{{ end }} alt="about-image">
                    {{ end }}
                    {{ end }}
                    {{ with .Site.Params.about.video }}
                    <div class="rwd-media"></div>
                    <iframe class="video" width="100%" height="250" data-src="{{ . | absURL }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                     {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}