{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                <p class="copyright">Copyright:
                    <span>
                        <script>document.write(new Date().getFullYear())</script> Fitness-rebels.com.
                    </span> Design and Development by
                    <a href="https://appernetic.io" target="_blank">Appernetic.io</a>.
                </p>
            </div>
            <div class="col-md-4 col-12">
                {{ "<!-- Social Media -->" | safeHTML }}
                <ul class="social text-center text-md-right text-lg-right">
                    <li>
                        <a href="https://www.facebook.com/Fitness-rebelscom-733445367052014/" target="_blank" class="facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCxk0euKZCn6zzRFRCIpwnhA" class="youtube" target="_blank">
                            <i class="ion-social-youtube"></i>
                        </a>
                    </li>
                   <!-- <li>
                        <a href="#" class="twitter" target="_blank">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>-->
                    <!--<li>
                        <a href="#" class="linkedin" target="_blank">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>-->
                   <!-- <li>
                        <a href="#" class="googleplus" target="_blank">
                            <i class="ion-social-googleplus"></i>
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>
{{ "<!-- footer section end -->" | safeHTML }}

{{ "<!-- jquery -->" | safeHTML }}
<script src="{{ "plugins/jQurey/jquery.min.js" | absURL }}"></script>
{{ "<!-- Form Validation -->" | safeHTML }}
{{- $scriptjqform := resources.Get "/assets/plugins/form-validation/jquery.form.js" | resources.Minify -}}
<script src="{{ "plugins/form-validation/jquery.validate.min.js" | absURL }}"></script>
{{ "<!-- slick slider -->" | safeHTML }}
<script src="{{ "plugins/slick/slick.min.js" | absURL }}"></script>
{{ "<!-- bootstrap js -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- wow js -->" | safeHTML }}
<script src="{{ "plugins/wow-js/wow.min.js" | absURL }}"></script>
{{ "<!-- slider js -->" | safeHTML }}
{{- $slider := resources.Get "/assets/plugins/slider/slider.js" | resources.Minify -}}
{{ "<!-- Fancybox -->" | safeHTML }}
{{- $fancybox := resources.Get "/assets/plugins/facncybox/jquery.fancybox.js" | resources.Minify -}}
{{ "<!-- template main js -->" | safeHTML }}
{{- $script := resources.Get "/assets/js/script.js" | resources.Minify -}}
{{ $jsbundle := slice $scriptjqform $slider $fancybox $script | resources.Concat "/assets/js/bundle.js" }}
<script src="{{ $jsbundle.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ .Site.Params.googleAnalitycsID }}', 'auto');
    ga('send', 'pageview');
</script>
</body>

</html>