<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{- $gohugoio := "gohugoio" -}}
    {{- $avatar := resources.Get (.Site.Params.avatar | default "images/avatar.png") -}}
    {{ "<!-- Basic Page Needs -->" | safeHTML }}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ .Hugo.Generator }}
    {{ "<!-- Mobile Specific Metas -->" | safeHTML }}
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ template "_internal/opengraph.html" . }}
      <!-- Twitter Card -->
  {{ if isset .Params "cover" }}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ .Site.Params.twitter | default $gohugoio }}">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="{{ .Summary | plainify }}">
  <meta name="twitter:image" content="{{ .Params.cover | absURL }}">
{{ else }}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ .Site.Params.twitter | default $gohugoio }}">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="{{ .Summary | plainify }}">
  <meta name="twitter:image" content="{{ $avatar.Permalink }}">
{{ end }}

    <title>{{ .Title }}</title>
    <link rel="icon" href="{{ "images/favicon.ico" | absURL }}">
    {{ "<!-- Twitter Bootstrs CSS -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "plugins/bootstrap/bootstrap.min.css" | absURL }}">
    {{ "<!-- Ionicons Fonts Css -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "plugins/ionicons/ionicons.min.css" | absURL }}">
    {{ "<!-- animate css -->" | safeHTML }}
    {{- $animatecss := resources.Get "/assets/plugins/animate-css/animate.css" | resources.Minify -}}
    {{ "<!-- Hero area slider css-->" | safeHTML }}
    {{- $slidercss := resources.Get "/assets/plugins/slider/slider.css" | resources.Minify -}}
    {{ "<!-- slick slider -->" | safeHTML }}
    {{- $slickcss := resources.Get "/assets/plugins/slick/slick.css" | resources.Minify -}}
    {{ "<!-- Fancybox -->" | safeHTML }}
    {{- $fancyboxcss := resources.Get "/assets/plugins/facncybox/jquery.fancybox.css" | resources.Minify -}}
    {{ "<!-- hover -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "plugins/hover/hover-min.css" | absURL }}">
    {{ "<!-- template main css file -->" | safeHTML }}
    {{ $styles := resources.Get "css/style.css" | resources.Minify}}
    {{ $cssbundle := slice $animatecss $slidercss $slickcss $fancyboxcss $styles | resources.Concat "/css/bundle.css" }}
    <link rel="stylesheet" href="{{ $cssbundle.Permalink }}" media="screen">
    <style>
        #hero-area a {
            color: #282829;
            text-decoration: none;
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
          }
          
    </style>
</head>
<body>
<section class="top-bar animated-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg bg-dark">
                    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                        <img src="{{ .Site.Params.logo | absURL }}" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ .Site.BaseURL }}">{{ with .Site.Params.home }}{{ . }}{{ end }}</a>
                            </li>
                            {{ range .Site.Menus.nav }}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>