{{ if .Site.Data.kunder.enable }}
{{ "<!-- Team Section Start -->" | safeHTML }}
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ with .Site.Data.kunder.title }}<h2 class="subtitle text-center">{{ . }}</h2>{{ end }}
            </div>
            {{ range $index, $element:= .Site.Data.kunder.members }}
            <div class="col-md-3 col-sm-6">
                {{ $delay := mul $index 300 }}
                <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">
                    {{ with .image }}
                    <div class="team-img">
                        <img src="{{ . | absURL }}" class="team-pic" alt="team-member">
                    </div>
                    {{ end }}
                    {{ with .name }}<h3 class="team_name">{{ . }}</h3>{{ end }}
                    {{ with .designation }}<p class="team_designation">{{ . }}</p>{{ end }}
                    {{ with .description }}<p class="team_text">{{ . }}</p>{{ end }}
                    <p class="social-icons">
                        {{ with .facebook }}
                        <a href="{{ . }}" class="facebook" target="_blank">
                            <i class="ion-social-facebook-outline"></i>
                        </a>
                        {{ end }}
                        {{ with .twitter }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ion-social-twitter-outline"></i>
                        </a>
                        {{ end }}
                        {{ with .linkedIn }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ion-social-linkedin-outline"></i>
                        </a>
                        {{ end }}
                        {{ with .googleplus }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ion-social-googleplus-outline"></i>
                        </a>
                        {{ end }}
                    </p>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-lg-12" id="goal">
            <br><br>    
            <h2 class="prisgaranti"><sup>*</sup> Prisgaranti</h2>
             <p class="prisgaranti"> Fitness-Rebels.com´s tjänster omfattas av vår garanti.
                När en kund har köpt tjänster för minst 2000 kr (inkl. moms) och har satt ett mål tillsammans med Fitness-Rebels.com´s träningscoach, som skall nås efter minst 4 veckor (och utan någon ändring i planen eller avbokning), varpå målet ändå inte nås erbjuds 50% av pengarna tillbaka alternativet är att kunden får boka tjänster för 50% av köpt belopp (inkl. moms).</p>
            </div>
            
         </div>   
    </div>
</section>
{{ "<!-- Team Section End -->" | safeHTML }}
{{ end }}